{{define "about_admin"}}
<!DOCTYPE html>
<html>
    <head>
        {{template "_header"}}
    </head>
    <body>
        {{template "nav"}}
        <!-- about me -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{.Title}}</h1>
                    <p>
                        Hello My Name is Made Suande, I am a web developer and I love to learn new things.
                    </p>
                </div>
            </div>
        </div>

        {{template "_footer"}}
    </body>
</html>
{{end}}