{{define "new_post"}}
<!DOCTYPE html>
<html>
    <head>
        {{template "_header"}}
    </head>
    <body>
        {{template "nav"}}
        <!-- bootstrap card text -->
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>{{.Title}}</h3>
                </div>
                <div class="card-body">
                    <form action="/admin/posts/store" method="POST">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea name="content" class="form-control"></textarea>
                        </div>
                        <input type="submit" value="save" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        {{template "_footer"}}
    </body>
</html>
{{end}}

